*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 104px;
}

.link{
  font-weight: 600;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.link:hover{
  color: #FA4A0C;
  font-weight: 900;
  font-size: 17px;
  border-bottom: 2px solid #FA4A0C;
}